@import 'variables';

body,
html {
  background: map-get($map: $colors, $key: 'bg');
  color: map-get($map: $colors, $key: 'text-color');
  font-size: $root-font-size;
  @media screen and (max-width: map-get($map: $display-breakpoints, $key: 'md')) {
    font-size: $root-font-size - 1;
  }
  @media screen and (max-width: map-get($map: $display-breakpoints, $key: 'sm')) {
    font-size: $root-font-size - 2;
  }
  ::selection {
    background-color: #92b4ff;
    color: white;
  }
  ::-moz-selection {
    background-color: #92b4ff;
  }
}

a {
  text-underline-offset: 0.4em !important;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 3.75rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
}

h2,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-text-color;
  line-height: 1.25;
  margin-bottom: 20px;
}

p {
  font-size: 0.9rem;
}
